.container{
    padding-top: 50px;
}
.delete
{
    color: #FF8C00;
    color: #9932CC;
    color: #1E90FF;
}
#diagram-wrapper
{
    position: relative; 
    width: 800px;
    height: 600px;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.15);
}
.diagram-wrapper canvas
{
   position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    
}
#diagramSignature
{
    width: 800px;
    height: 600px;
}
.DescStripWrapper
{
    border: 1px solid black;
    width: 200px;
}